{% extends "layout.html" %}

{% block title %}
    Приветствие
{% endblock %}

{% block main %}

<h2>Приветствую!</h2>
<table>
    <thead>
        <tr>
            <p>Привет. Я с 2005 года работаю инженером-конструктором (Республика Беларусь, г.Могилев), с 2010 работаю главным конструктором проекта.
            С 2018года привлекаюсь в качестве внештатного эксперта государственной строительной экспертизы по Могилевской области.
            С 2015 года перешёл на проектирование согласно требований EN (Еврокодов).
            </p>
            <p>В рамках обучающей программы <a href="https://cs50.harvard.edu/">Harvard University CS50</a> решил создать данное web-приложение,
            которое позволяло бы не только мне экономить время по оформлению расчетов, но и в чем-то помочь другим инженерам строительной отрасли (ну по возможности).
            </p>
            <p>В любом случае необходимо понимать, что данный проект всё ещё в развитии.
            Я в силу своих возможностей и сил буду его улучшать и дополнять (по крайней мере до тех пор пока работаю в данной сфере).
            </p>
        </tr>
    </thead>
</table>

<!-- Блок ссылок на сбор снеговых нагрузок -->
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/static/snow1.jpg" class="w-50" alt="Снег на крыше">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Расчет снеговых воздействий</h5>
    <p>В данном блоке вы можете рассчитать и сформировать отчет по расчету снеговых воздействий на кровлю
    зданий и сооружений в соответствии с СН 2.01.04 (на основе EN 1991-1-3:2003+АС:2009 с нац. приложением НП.1)</p>
    <a class="btn btn-info" style="background-color: #e3f2fd;" href="/snow1" role="button">Расчет снеговой нагрузки на покрытие</a>
  </div>
</div>

<hr>

<!-- Блок ссылок на сбор ветровых нагрузок -->
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/static/wind1.jpg" class="w-50" alt="Снег на крыше">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Расчет ветровых воздействий</h5>
    <p>В данном блоке вы можете рассчитать и сформировать отчет по расчету ветровых воздействий в соответствии
    с СН 2.01.05 (на основе EN 1991-1-4:2005+А1:2010+АС:2010) с нац. приложением НП.1</p>
    <a href="/wind1" class="stretched-link">ВЕТЕР</a>
  </div>
</div>


{% endblock %}
