{% extends "layout.html" %}

{% block title %}
    О проекте
{% endblock %}

{% block main %}

<h3>Немного о себе.</h3>

<p>Привет. Зовут меня Марканов Антон. Я с 2005 года работаю инженером-конструктором (Республика Беларусь, г.Могилев), с 2010 работаю главным конструктором проекта.
С 2018года привлекаюсь в качестве внештатного эксперта государственной строительной экспертизы по Могилевской области.
С 2015 года перешёл на проектирование согласно требований EN (Еврокодов).
</p>
<p>В рамках обучающей программы <b><a href="https://cs50.harvard.edu/">Harvard University CS50</a></b> решил создать данное web-приложение,
которое позволяло бы не только мне экономить время по оформлению расчетов, но и в чем-то помочь другим инженерам строительной отрасли (ну по возможности).
</p>
<p>В любом случае необходимо понимать, что данный проект всё ещё в развитии.
Я в силу своих возможностей и сил буду его улучшать и дополнять (по крайней мере до тех пор пока работаю в данной сфере).
</p>
<p>Любая конструктивная критика принимается с учетом того, что данное веб приложение разработано и оплачивается пока исключительно из альтруизма.</p>
<p>Для связи со мной можно писать на адрес <b><a href="mailto:snowdoc@tut.by">snowdoc@tut.by</a></b></p>


<h3 >Краткая инструкция по использованию данного ресурса:</h3>
<ol style="text-align: left">
    <li>На главной странице выберите интересующий вас раздел расчета</li>
    <li>На открывшейся странице конкретного расчета необходимо заполнить сиходные данные для расчета. Причем таблица исходных данных состоит из 3х основных столюцов:
    показатель, значение, примечание. По сути заполняются данные только во втором столбце, первый и третий столбцы максимально описывают для пользователя какие именно данные необходимы
    и как правильно их вводить. Следует обратить особое внимание что все вводимые числовые данные должны быть целыми положительными числами (линейные размеры указываются в миллиметрах).</li>
    <li>При заполнении табллицы исходных данных в графе город достаточно начать писать наименование города и программа автоматически предложит вам наиболее подходящие варианты.
    Указывать снеговой или ветровой район нет необходимости (все уже приведено в базе данных по данным городам). Если же какого-либо города нет в данной базе данных либо вы нашли
    ошибку просто напишите мне и я максимально быстро исправлюсь.</li>
    <li>После того как все поля заполнены можно выбрать 2 варианта: а) - посмотреть результаты расчета, либо б) - скачать результаты расчета в формате .docx. </li>
    <li>Если выбран вариант скачать файл то программа автоматически генерирует .docx файл для конкрено ваших условий, который скачивается в директорию которую вы укажите.</li>
    <li>Если выбран вариант "просмотреть варианты расчета", то открывается HTML страница с результатами расчета по аналогии с тем, что генерирует программа для пользователя в формате .docx. Можно выделить
    и скопировать результаты расчета прямо со страницы, но беда в том, что картинки корректно не копируются с HTML страниц поэтому, если вам необходимо вставить готовый оформленный сбор нагрузок в ваш
    том расчетов лучше вернуться назад и скачать готовый файл с текстом и картинками.</li>
</ol>

<h1>Приятного использования!</h1>

{% endblock %}
