{% extends "layout.html" %}

{% block title %}
    Снеговые нагрузки на снегозадержатели
{% endblock %}

{% block main %}

<h5>Определение снеговых нагрузок на снегоудерживающие заграждения согласно СН 2.01.04</h5>
<hr>
<h5>Исходные данные для расчета:</h5>
<form action="/snow7" method="post">
    <table>
        <thead>
            <tr>
                <th>Показатель</th>
                <th>Значение</th>
                <th>Примечание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Уклон рассматриваемого участка кровли <b>&#945;</b> (градусы)</td>
                <td>
                    <input autocomplete="on" autofocus class="form-control" name="slope" placeholder="целое число от 0 до 90" type="text">
                </td>
                <td class="form-text">
                    <img src="/static/snow_pictures/snow_slope7.jpg" alt="схема кровли" height="100">
                </td>
            </tr>
            <tr>
                <td>Расстояние <b>b</b> (миллиметры)</td>
                <td>
                    <input autocomplete="on" autofocus class="form-control" name="b" placeholder="положительное целое число" type="text">
                </td>
                <td class="form-text">
                    <ul class="list-unstyled">
                        <li>Горизонтальное расстояние от</li>
                        <li>снегоудерживающей решетки или надстройки</li>
                        <li>до следующей решетки или до конька</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Коэффициент окружающей среды <b>С<sub>e</sub></b></td>
                <td>
                    <select class="form-select" aria-label="Default select example" name="Ce">
                        <option value="0.8">Не защищенные от ветра (С<sub>e</sub>=0.8)</option>
                        <option selected value="1.0">Обычные/закрытые (С<sub>e</sub>=1.0)</option>
                    </select>
                <div id="emailHelp" class="form-text">Выберите условия местности</div>
                </td>
                <td>
                    <div id="emailHelp" class="form-text">
                        <ul class="list-unstyled">
                            <li>Типы местности расписаны в табл. НП.1.3(BY)</li>
                            <li>В большинстве случаев <b>Се=1.0</b>.</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Температурный коэффициент <b>С<sub>t</sub></b></td>
                <td>
                    <select class="form-select" aria-label="Default select example" name="Ct">
                        <option value="0.8">С<sub>t</sub>=0.8</option>
                        <option selected value="1.0">С<sub>t</sub>=1.0</option>
                    </select>
                </td>
                <td>
                    <div id="emailHelp" class="form-text">
                        <ul class="list-unstyled">
                            <li>Требования расписаны в п.5.2(8) НП.1(BY)</li>
                            <li>В большинстве случаев <b>Сt=1.0</b>.</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Город (район расположения)</td>
                <td>
                    <input autocomplete="off" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="начните вводить название..." name="city">
                        <datalist id="datalistOptions">
                        <!-- List of lists ('Барановичи', '2в', 23, '193')-->
                        {% for cities in cities %}
                        <option value="{{ cities[0] }} &#8594; (Отметка={{ cities[3] }}, район={{ cities[1] }})">
                        {% endfor %}
                        </datalist>
                </td>
                <td>
                    <div id="emailHelp" class="form-text">
                        <ul class="list-unstyled">
                            <li>Отметка (над уровнем моря) принята (по Вики) </li>
                            <li>на случай если точных данных нет</li>
                            <li>и уточняется в поле ниже</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Точная абсолютная отметка земли в районе здания/сооружения</td>
                <td>
                    <input width="200" autocomplete="off" class="form-control" name="level" placeholder="целое число от 100 до 320" type="text">
                    <div id="emailHelp" class="form-text">необязательное поле (если отметка неизвестна)</div>
                </td>
                <td>
                    <div id="emailHelp" class="form-text">
                    Принимаются только целые числа от 100 до 320
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <button class="btn btn-primary" type="submit" name="button" value="create_html">Просмотреть результаты расчета</button>
    <button class="btn btn-primary" type="submit" name="button" value="download">Скачать расчет в формате .doc</button>
</form>

{% endblock %}
