{% extends "layout.html" %}

{% block title %}
    Расчет ветровых воздействий
{% endblock %}

{% block main %}

<h5>Определение ветровых воздействий согласно СН 2.01.05</h5>
<hr>

<h2>...Данный раздел пока в разработке...</h2>
<img src="/static/error_image.jpg" alt="sorry!" height="150">


<hr>

<h5>Исходные данные для расчета:</h5>
<form action="/snow1" method="post">
    <table>
        <thead>
            <tr>
                <th>Показатель</th>
                <th>Значение</th>
                <th>Примечание</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>

        </tbody>
    </table>
    <hr>

</form>

{% endblock %}
